# SERIES
---

A **Series** is a 1-dimensional data structure. Each data point has an associated label. The collection of these labels is called an index.

## Creating Series from List

To create a Series, first import the Pandas library into your notebook.

In [2]:
import pandas as pd

Now, you can use the Pandas. To create a Series, you need a collection of data. Here is a list of the company's employees.

In [3]:
employees = ['Georgia','Edward','William','Jack','Juliet','Daisy','Frank']

Creating a Series is super easy. To create a Series named **ds**, just use a name of a data collection.

In [4]:
ds = pd.Series(data=employees)

To display the contents of a Series, simply use its name.

In [5]:
ds

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can also display the contents of a Series using the print function.

In [6]:
print(ds)

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can modify the collection of data and run the code cells again to create and display the Series.

### Tasks

Try to add an additional two employees to the list created earlier. Then, create and display Series once again.

In [19]:
employees.append('Adam')
employees.append('Alan')

ds = pd.Series(data=employees)
print(ds)

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
7       Adam
8       Alan
dtype: object

Create your first Series called **components** containing the names of the five components of your computer. Then, display the contents of the Series. To complete the task, add a cell(s) with Python code below.

In [25]:
components = ['Mouse', 'Keyboard','Monitor', 'Headphones','CPU']
components_series = pd.Series(data=components)
print(components_series)

0         Mouse
1      Keyboard
2       Monitor
3    Headphones
4           CPU
dtype: object

## Creating Series from Dictionary

To create a Series, as a collection of data you can also use a dictionary, which consists of key and value pairs of information.

In [26]:
tools_in_stock = {'hammer':15, 'drill':4, 'screwdriver':23, 'saw':7, 'knife':9}
tools = pd.Series(data=tools_in_stock)
tools

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
dtype: int64

### Tasks

Modify the data collection by adding two additional tools. Then, create and display Series once again.

In [42]:
tools_in_stock.update( [('nails', 43),('keys',7)] )
tools_series = pd.Series(data = tools_in_stock)
print(tools_series)

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
nails          43
keys            7
dtype: int64

## Data Statistics

Pandas includes a number of functions to calculate various statistics. You can, for example, calculate the sum of tools in stock using sum(), or their arithmetic mean using mean().

In [55]:
tools_series.sum()
print(tools_series.sum())

108

You can also generate descriptive statistics (tools.describe()) that quantitatively describes or summarizes features from a collection of information.

In [59]:
print(tools_series.describe())

count     7.000000
mean     15.428571
std      13.733865
min       4.000000
25%       7.000000
50%       9.000000
75%      19.000000
max      43.000000
dtype: float64

### Tasks

Calculate the average number of tools in stock.

In [63]:
print(tools_series.mean())

15.428571428571429

Generate descriptive statistics for the tools in stock.

In [67]:
print(tools_series.describe())

count     7.000000
mean     15.428571
std      13.733865
min       4.000000
25%       7.000000
50%       9.000000
75%      19.000000
max      43.000000
dtype: float64

## Data Limitation

You can specify a single value in Series.

In [68]:
tools['drill']

4

You can also specify a subset of values [from:to].

In [69]:
tools['drill':'saw']

drill           4
screwdriver    23
saw             7
dtype: int64

For the selected values you can then calculate various statistics.

In [70]:
tools['drill':'saw'].sum()

34

## Creating Your First Series from Dictionary

### Tasks

Create a Series called **restaurant** containing the number of restaurant customers on each of the seven days of the week.

In [71]:
restaurant = {'Mon':2434,'Tue':1241,'Wed':593,'Thu':2940,'Fri':4000,'Sat':2984,'Sun':123}
restaurant_series = pd.Series(data=restaurant)

With the created data series, follow the instructions below.

Display the contents of the Series.

In [73]:
print(restaurant_series)

Mon    2434
Tue    1241
Wed     593
Thu    2940
Fri    4000
Sat    2984
Sun     123
dtype: int64

Display the total number of restaurant customers.

In [74]:
print(restaurant_series.sum())

14315

Display the median number of restaurant customers.

In [75]:
print(restaurant_series.median())

2434.0

Display descriptive statistics.

In [76]:
print(restaurant_series.describe())

count       7.000000
mean     2045.000000
std      1420.381169
min       123.000000
25%       917.000000
50%      2434.000000
75%      2962.000000
max      4000.000000
dtype: float64

Display the list of restaurant customers on business days.

In [77]:
restaurant_series['Mon':'Fri']

Mon    2434
Tue    1241
Wed     593
Thu    2940
Fri    4000
dtype: int64

Display the average number of customers visiting the restaurant during working days.

In [78]:
restaurant_series['Mon':'Fri'].mean()

2241.6

Display the list of restaurant customers on the weekend.

In [79]:
restaurant_series['Fri':'Sun']

Fri    4000
Sat    2984
Sun     123
dtype: int64

Display the total number of customers visiting the restaurant over the weekend.

In [80]:
restaurant_series['Fri':'Sun'].sum()

7107