The list of Polish cities is available in the cities-in-poland.csv file. In a separate notepad, calculate and display:

- the number of cities in each province
- the total number of inhabitants in each province
- the total number of inhabitants in each of the regions in the 'opolskie' province
- the total number of inhabitants in each of the regions in the 'opolskie' province; sort the values in descending order

In [5]:
import pandas as pd
cit = pd.read_csv('cities-in-poland.csv', delimiter=';')
cit

             City          Region            Province  Areakm2  Population
0     Bolesławiec   bolesławiecki        dolnośląskie    23.57       39464
1    Nowogrodziec   bolesławiecki        dolnośląskie    16.10        4227
2         Bielawa  dzierżoniowski        dolnośląskie    36.21       30987
3     Dzierżoniów  dzierżoniowski        dolnośląskie    20.07       34168
4         Niemcza  dzierżoniowski        dolnośląskie    19.81        3107
..            ...             ...                 ...      ...         ...
908   Świnoujście  Świnoujście[a]  zachodniopomorskie   197.23       41276
909        Człopa         wałecki  zachodniopomorskie     6.27        2345
910   Mirosławiec         wałecki  zachodniopomorskie     2.17        3040
911        Tuczno         wałecki  zachodniopomorskie     9.21        1956
912         Wałcz         wałecki  zachodniopomorskie    38.17       26033

[913 rows x 5 columns]

In [7]:
cit.groupby('Province')['City'].count()

Province
dolnośląskie            91
kujawsko-pomorskie      52
lubelskie               43
lubuskie                42
mazowieckie             86
małopolskie             59
opolskie                35
podkarpackie            51
podlaskie               40
pomorskie               42
warmińsko-mazurskie     49
wielkopolskie          111
zachodniopomorskie      65
łódzkie                 44
śląskie                 71
świętokrzyskie          32
Name: City, dtype: int64

In [8]:
cit.groupby('Province')['Population'].sum()

Province
dolnośląskie           2014847
kujawsko-pomorskie     1250502
lubelskie               992787
lubuskie                663334
mazowieckie            3427481
małopolskie            1604742
opolskie                520618
podkarpackie            880328
podlaskie               720900
pomorskie              1487883
warmińsko-mazurskie     854265
wielkopolskie          1914114
zachodniopomorskie     1177650
łódzkie                1583399
śląskie                3542874
świętokrzyskie          565304
Name: Population, dtype: int64

In [17]:
cit.query("Province =='opolskie'").groupby('Region')['Population'].sum().sort_values(ascending=False)

Region
Opole[a]                   119574
brzeski                     51431
głubczycki                  22087
kluczborski                 34055
krapkowicki                 35279
kędzierzyńsko-kozielski     62840
namysłowski                 16126
nyski                       73571
oleski                      23715
opolski                     18426
prudnicki                   29874
strzelecki                  33640
Name: Population, dtype: int64