 Total number of students studying in Warsaw and Krakow.

In [1]:
import pandas as pd
uni = pd.read_csv('universities.csv')

uni.groupby('City').sum()

                                                     Name  Students
City
Krakow  AGH University of Science and TechnologyJagiel...    136300
Warsaw  University of WarsawWarsaw University of Techn...    184500